html,body{display:block;position:relative;width:100%;height:100%;margin:0;padding:0;font-family:'Helvetica Neue','Helvetica';font-weight:lighter}.burger_icon{position:fixed;top:50px;right:50px;height:50px;background-color:#000;padding:20px
10px 0;cursor:pointer;z-index:5}.burger_icon::after{content:url(/ashaffer/public/assets/img/burger_nav_icon.png)}header{background-color:#000;color:#fff;text-align:center;padding:50px
0}header
img{z-index:6;position:relative;background-color:#000}header
.cta{padding:200px
10px}header .cta
h1{font-size:48px;font-weight:300}header .cta
select{background-color:#fff;color:#000;font-size:40px;font-weight:bold;vertical-align:middle;display:inline-block;outline:none;text-transform:uppercase}header
.scroll{font-size:14px;font-weight:bold}header .scroll
p{margin:5px
0}header .scroll .arrow::after{content:url(/ashaffer/public/assets/img/arrow.png)}#content{margin:0
20px;position:relative}#home .segments .segment:not(:last-child){margin:0
0 200px}#home .segments
h2{text-align:center;display:block;margin:50px
0}#home .segments h2
span{border-bottom:6px solid #000;font-weight:100;font-size:38px;text-transform:uppercase}#home .segments .disciplines_list,
#home .segments
.services_list{text-align:center}#home .segments .disciplines_list .discipline,
#home .segments .services_list
.service{display:inline-block;vertical-align:top;margin-bottom:50px;min-width:200px}#home .segments .disciplines_list .discipline h3,
#home .segments .services_list .service
h3{text-align:center;text-transform:uppercase;font-weight:bold;font-size:28px}#home .segments .disciplines_list .discipline p,
#home .segments .services_list .service
p{font-weight:normal;font-size:18px}#home .segments .disciplines_list
.discipline{width:25.3%;padding:0
4%}#home .segments .disciplines_list .discipline
.icon{text-align:center}#home .segments .disciplines_list .discipline .icon.user_interface::after{content:url(/ashaffer/public/assets/img/disciplines/user_interface.png)}#home .segments .disciplines_list .discipline .icon.user_experience::after{content:url(/ashaffer/public/assets/img/disciplines/user_experience.png)}#home .segments .disciplines_list .discipline .icon.product_strategy::after{content:url(/ashaffer/public/assets/img/disciplines/product_strategy.png)}#home .segments .services_list
.service{width:30%;padding:0
10%}#home .segments .services_list .service
.icon{text-align:center}#home .segments .services_list .service .icon::after{content:url(/ashaffer/public/assets/img/services/design.png)}#home .contact_me
h2{text-align:center;display:block;margin:25px
0;font-size:48px}#home
.contact_me{text-align:center;padding:50px}#home .contact_me
button{text-align:center;background-color:#fff;border:3px
solid #000;color:#000;text-transform:uppercase;font-weight:bold;padding:30px
0;max-width:350px;width:100%;margin:0
auto;font-size:40px;cursor:pointer;transition:background-color .5s, color .5s;-webkit-transition:background-color .5s, color .5s}#home
#portfolio{width:90%;margin:0
auto;position:relative}#home #portfolio
.piece{border-bottom:1px solid #979797;padding-bottom:50px;position:relative}#home #portfolio .piece
.project_container{max-width:930px;margin:0
auto}#home #portfolio .piece
.arrow{position:absolute;top:45%;padding:10px
5px;background-color:rgba(255,255,255,.7);cursor:pointer}#home #portfolio .piece .arrow.left_arrow::after{content:url(/ashaffer/public/assets/img/arrow_left.png)}#home #portfolio .piece
.arrow.right_arrow{right:0}#home #portfolio .piece .arrow.right_arrow::after{content:url(/ashaffer/public/assets/img/arrow_right.png)}#home .contact_me button:hover,
#home #portfolio .piece button:hover{background-color:#000;color:#fff}#home #portfolio .piece
.project{position:relative}#home #portfolio .piece
h3{font-size:34px;font-weight:300;display:inline-block;vertical-align:middle}#home #portfolio .piece
button{display:inline-block;vertical-align:middle;text-align:center;background-color:#fff;border:2px
solid #000;color:#000;text-transform:uppercase;font-weight:bold;padding:10px;margin:0
auto;font-size:18px;cursor:pointer;transition:background-color .5s, color .5s;-webkit-transition:background-color .5s, color .5s;position:absolute;right:0;margin:34px
0}#home #portfolio .piece .screenshot,
#home #portfolio .piece .screenshot
img{width:100%}
html,body{display:block;position:relative;width:100%;height:100%;margin:0;padding:0;font-family:'Helvetica Neue','Helvetica';font-weight:lighter}.burger_icon{position:fixed;top:50px;right:50px;height:50px;background-color:#000;padding:20px
10px 0;cursor:pointer;z-index:5}.burger_icon::after{content:url(/ashaffer/public/assets/img/burger_nav_icon.png)}header{background-color:#000;color:#fff;text-align:center;padding:50px
0}header
img{z-index:6;position:relative;background-color:#000}header
.cta{padding:200px
10px}header .cta
h1{font-size:48px;font-weight:300}header .cta
select{background-color:#fff;color:#000;font-size:40px;font-weight:bold;vertical-align:middle;display:inline-block;outline:none;text-transform:uppercase}header
.scroll{font-size:14px;font-weight:bold}header .scroll
p{margin:5px
0}header .scroll .arrow::after{content:url(/ashaffer/public/assets/img/arrow.png)}#content{margin:0
20px;position:relative}#home .segments .segment:not(:last-child){margin:0
0 200px}#home .segments
h2{text-align:center;display:block;margin:50px
0}#home .segments h2
span{border-bottom:6px solid #000;font-weight:100;font-size:38px;text-transform:uppercase}#home .segments .disciplines_list,
#home .segments
.services_list{text-align:center}#home .segments .disciplines_list .discipline,
#home .segments .services_list
.service{display:inline-block;vertical-align:top;margin-bottom:50px;min-width:200px}#home .segments .disciplines_list .discipline h3,
#home .segments .services_list .service
h3{text-align:center;text-transform:uppercase;font-weight:bold;font-size:28px}#home .segments .disciplines_list .discipline p,
#home .segments .services_list .service
p{font-weight:normal;font-size:18px}#home .segments .disciplines_list
.discipline{width:25.3%;padding:0
4%}#home .segments .disciplines_list .discipline
.icon{text-align:center}#home .segments .disciplines_list .discipline .icon.user_interface::after{content:url(/ashaffer/public/assets/img/disciplines/user_interface.png)}#home .segments .disciplines_list .discipline .icon.user_experience::after{content:url(/ashaffer/public/assets/img/disciplines/user_experience.png)}#home .segments .disciplines_list .discipline .icon.product_strategy::after{content:url(/ashaffer/public/assets/img/disciplines/product_strategy.png)}#home .segments .services_list
.service{width:30%;padding:0
10%}#home .segments .services_list .service
.icon{text-align:center}#home .segments .services_list .service .icon::after{content:url(/ashaffer/public/assets/img/services/design.png)}#home .contact_me
h2{text-align:center;display:block;margin:25px
0;font-size:48px}#home
.contact_me{text-align:center;padding:50px}#home .contact_me
button{text-align:center;background-color:#fff;border:3px
solid #000;color:#000;text-transform:uppercase;font-weight:bold;padding:30px
0;max-width:350px;width:100%;margin:0
auto;font-size:40px;cursor:pointer;transition:background-color .5s, color .5s;-webkit-transition:background-color .5s, color .5s}#home
#portfolio{width:90%;margin:0
auto;position:relative}#home #portfolio
.piece{border-bottom:1px solid #979797;padding-bottom:50px;position:relative}#home #portfolio .piece
.project_container{max-width:930px;margin:0
auto}#home #portfolio .piece
.arrow{position:absolute;top:45%;padding:10px
5px;background-color:rgba(255,255,255,.7);cursor:pointer}#home #portfolio .piece .arrow.left_arrow::after{content:url(/ashaffer/public/assets/img/arrow_left.png)}#home #portfolio .piece
.arrow.right_arrow{right:0}#home #portfolio .piece .arrow.right_arrow::after{content:url(/ashaffer/public/assets/img/arrow_right.png)}#home .contact_me button:hover,
#home #portfolio .piece button:hover{background-color:#000;color:#fff}#home #portfolio .piece
.project{position:relative}#home #portfolio .piece
h3{font-size:34px;font-weight:300;display:inline-block;vertical-align:middle}#home #portfolio .piece
button{display:inline-block;vertical-align:middle;text-align:center;background-color:#fff;border:2px
solid #000;color:#000;text-transform:uppercase;font-weight:bold;padding:10px;margin:0
auto;font-size:18px;cursor:pointer;transition:background-color .5s, color .5s;-webkit-transition:background-color .5s, color .5s;position:absolute;right:0;margin:34px
0}#home #portfolio .piece .screenshot,
#home #portfolio .piece .screenshot
img{width:100%}
